body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px
}

.header {
    padding: 30px;
    text-align: center;
    background-color: #ebebeb;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px
}

.section {
    background-color: #ebebeb;
    width: 495px;
    height: 240px;
    padding: 20px;
    float: left;
    margin-left: 50px;
    text-align: center;
    margin-bottom: 30px
}

.color {
    color: white
}

.border {
    background-color: #777;
    padding: 20px;
    margin: 10px
}

.border1 {
    background-color: #ebebeb;
    padding: 20px;
    margin: 10px;
    text-align: center
}

.section1 {
    background-color: #ebebeb;
    width: 270px;
    height: 240px;
    padding: 20px;
    float: right;
    text-align: center;
    margin-bottom: 30px
}

#container {
    width: 910px;
    height: 240px;
    margin-top: 30px;
    margin-bottom: 30px
}

.footer {
    clear: both;
    padding: 30px;
    text-align: center;
    background-color: #ebebeb;
    margin-left: 50px;
    margin-right: 50px
}